@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;       
    box-sizing: border-box;
}

/* BODY */

body {    
    font-family: 'Poppins', sans-serif;    
    min-height: 100vh;    
}

body.background-index {
    background: #05004a;
    background: radial-gradient(circle, rgba(5, 0, 74, 1) 0%, rgba(9, 9, 121, 1) 9%, rgba(7, 51, 149, 1) 21%, rgba(0, 212, 255, 1) 100%);
}

/* LOGIN FORM */

.form-select, .form-control {
    background-color: rgb(242, 242, 242) !important;
}

.form-box {
    display: none !important;
}

.form-box.active {
    display: flex !important;
}

.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}

/* SIDEBAR */

#sidebar-nav .nav-link{
  color: white !important;
}

.sidebar {
    position: fixed;
    max-width: 264px;
    min-width: 264px;
    min-height: 100vh;
    background-color: #05004a;    
    transition: all 0.35s ease-in-out;    

}

.sidebar.collapse {
    margin-left: -264px
}

.nav-link {
    font-size: 18px;
}

#sidebar-nav .nav-link:hover {
    background-color: #c8c8c85b; 
    transition: background-color 0.2s ease;
}

#sidebar-nav .nav-link.active:hover {
    background-color: #3f51b5;
    transition: background-color 0.2s ease;
}

.dropdown a:hover {
    background-color: #c8c8c85b; 
    transition: background-color 0.2s ease;
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    margin-left: 264px;    
    transition: all 0.35s ease-in-out;    
}

.main-content.collapse {
    display: block;
    margin-left: 0px; 
}

/* NAVIGATION BAR */

.navbar-expand {
    margin-left: auto;
}

.navbar-items i{
    font-size: 25px;
}

#sidebar-toggle:hover {
    background-color: #c8c8c85b; 
    transition: background-color 0.2s ease;
}

#navbar-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
}

#navbar-profile:hover {
    background-color: #c8c8c85b; 
    transition: background-color 0.2s ease;
}

#welcome {
    display: flex;
    align-items: center;
    color:white;
    margin-bottom: 0;
    font-size: 20px;
    cursor: default;
}



/* CHART */
.pie-chart {
    width: 100%;
    height: 500px;
}

/* PRODUCT */
.product-card {
    position: relative;
    overflow: hidden; /*controls what happens when content overflows (i.e., does not fit) */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.product-card:hover img {
    transform: scale(1.05);
}
.overlay {
    /*set overlay dekat bottom of card. then transform dia ke bawah 100% kasi tak nampak sebab overflow hidden, then transition dia ke bawah tu adalah easeinout */
    position: absolute; 
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 100%;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}
.product-card:hover .overlay {
    transform: translateY(0);
}